@charset "UTF-8";
/*misc*/
/*colores*/
/*espacios*/
/*familia de fuentes*/
@import url("https://fonts.googleapis.com/css2?family=Yeseva+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Autour+One&display=swap");
/*tamaños de fuentes*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

body {
  background: url("../../img/fondo .png");
  height: 100vh;
  width: 100vw; }

ul {
  list-style-type: none; }

a {
  color: inherit;
  text-decoration: none;
  display: inline-block;
  padding: 4px 4px; }

img {
  width: 100%;
  height: auto; }

/*media queries*/
/*partials*/
/*HEADER*/
header {
  background-color: #9b0d0d;
  height: 15vh;
  font-family: "Autour One", cursive;
  font-size: 3em;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.4);
  z-index: 10;
  position: sticky; }
  header .navbar {
    color: #ececec;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem; }
    header .navbar .btn .iconify {
      font-size: 5em;
      color: #ececec; }
    header .navbar__logo {
      margin: 0;
      height: 15vh;
      display: flex;
      align-items: center; }
      header .navbar__logo a {
        color: #ececec;
        font-size: 1.5em; }

/*views*/
